<%= form_for(@file_item) do |f| %>
  <% if @file_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file_item.errors.count, "error") %> prohibited this file_item from being saved:</h2>

      <ul>
      <% @file_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :folder_id %><br>
        <%= f.text_field :folder_id  %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
