<p id="notice"><%= notice %></p>

<h1>Listing File Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_items.each do |file_item| %>
      <tr>
        <td><%= link_to file_item.name, file_item %></td>
        <td><%= link_to 'Edit', edit_file_item_path(file_item) %></td>
        <td><%= link_to 'Destroy', file_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File item', new_file_item_path %>
