<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <%= javascript_include_tag 'application_dev', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
        .topcorner{
            position:absolute;
            top:0;
            left:0;
        }
        .window {
            position: absolute;
            width: 200px;
            height: 200px;
            background: whitesmoke;
            z-index: 100;
            margin: 0;
            padding: 0;
        }
        .center {
            margin-top: 20%;
        }
    </style>
    <script type="text/javascript">
        angular.module('app', ['templates'])
            .controller('Ctrl', function($scope) {
                $scope.items = [];
                $scope.$on('add_item', function(event, data) {
                    $scope.items.push(data);
                })
            })
            .directive('addItemDialog', function() {
                return {
                    restrict: 'E',
                    templateUrl: 'add-item-dialog.html',
                    link: function(scope, element, attrs) {
                        scope.dialogVisibility = true;
                        scope.item="gfdgf";
                        scope.showDialog = function () {
                            scope.dialogVisibility = false;
                        };
                        scope.add = function() {
                            if (scope.item != "")
                                scope.$emit('add_item', scope.item);
                            scope.item = "";
                            scope.dialogVisibility = true;
                        };
                        scope.close = function() {
                            scope.item = "";
                            scope.dialogVisibility = true;
                        }
                    }
                }
            })
            .directive('anotherAddItemDialog', function() {
                return {
                    restrict: 'E',
                    scope: {
                        'dialog': '=dialog'
                    },
                    link: function(scope, element, attrs) {
                        scope.name = 'bilal';
                        scope.count = 0;
                        scope.click = function() {
                            scope.count += 1;
                            attrs.dialog += scope.name;
                        }
                    },
                    templateUrl: 'test-template.html'
                }
            }).directive('simpleDirective', function() {
                    return {
                        restrict: 'E',
                        scope: {
                            'dialog': '=dialog'
                        },
                        link: function(scope, element, attrs) {
                            scope.name = 'bilal';
                            scope.count = 0;
                            scope.click = function() {
                                scope.count += 1;
                                attrs.dialog += scope.name;
                            }
                        },
                        templateUrl: 'test-template.html'
                    }
                });
    </script>
</head>
<body ng-app="app" ng-controller="Ctrl" style="margin-top: 50px">
    <script type="text/ng-template" id="test-template.html">
        <button ng-click="click()" class="btn btn-default">count</button>
        <div> {{ dialog + ' ' + name + ' ' + count }} </div>
    </script>
    <script type="text/ng-template" id="dialog-template.html">
        <button ng-click="dialog.showDialog()" class="btn btn-primary">
            add
        </button>

        <div ng-hide="dialog.dialogVisibility" class="modal" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button ng-click="dialog.close()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div>
                                <label for="exampleInputName2">item:</label>
                                <input ng-model="dialog.item" type="text" class="form-control" id="exampleInputName2">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="dialog.close()" type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                        <button ng-click="dialog.add()" type="button" class="btn btn-primary">Add</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </script>
    <div class="container">
        <add-item-dialog></add-item-dialog>
        <div>
            <span ng-show="!items.length">No items</span>
            <ul>
                <li ng-repeat="item in items"> {{ item }} </li>
            </ul>
        </div>
    </div>
</body>
</html>