<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">

    </script>

</head>
<body ng-app="mcApp" ng-controller="KeyboardHandlerCtrl" ng-keypress="onKeyPress($event)">
<div ng-controller="TerminalCtrl" >
    <div class="files" ng-controller="FilesCtrl">
        <div class="tab">
            <table>
                <tr ng-repeat="file in leftTab.filesToShow" ng-class="{ 'selected' : $index == leftTab.index.local }">
                    <td>{{ file.name }}</td>
                    <td>{{ file.created_at }}</td>
                </tr>
                <tr ng-repeat="line in (15-leftTab.files.list.length) | range">
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="tab">
            <table>
                <tr ng-repeat="file in rightTab.filesToShow" ng-class="{ 'selected' : $index == rightTab.index.local }">
                    <td>{{ file.name }}</td>
                    <td>{{ file.created_at }}</td>
                </tr>
                <tr ng-repeat="line in (15-rightTab.files.list.length) | range">
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

    </div>
    <div class="console">root@root:/ {{ input }}<span class="blink1">&#9646;</span></div>
    <div class="bottom-panel"></div>
</div>

</body>
</html>
