<button ng-click="showDialog()" class="btn">
    create
</button>

<div ng-hide="dialogVisibility" class="window" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add item</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div>
                        <label for="exampleInputName2">item:</label>
                        <input ng-model="item" type="text" class="form-control" id="exampleInputName2">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="close()" type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                <button ng-click="add()" type="button" class="btn btn-primary">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->