// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.debug-table {
  th {
    text-align: left;
    width: 100px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
  td {
    width: 100px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
}
.console {
  background: #404040;
  height: 50px;
  width: 90%;
  color: whitesmoke;
}
.bottom-panel {
  background: #404040;
  height: 30px;
  width: 90%;
  color: whitesmoke;
}
.btn {
  background: #212CFF;
  color: whitesmoke;
  cursor: pointer;
  padding: 3px;
  margin: 5px;
}
.topcorner{
  position:absolute;
  top:0;
  left:0;
}
.center {
  width: 50%;
  margin: 0 auto;
}
.window {
  color: #000000;
  position: absolute;
  top: 20%;
  width:40%;
  max-width: 960px;
  min-width: 600px;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: whitesmoke;
  z-index: 100;
  padding: 0;
}
.files {
  overflow: auto;
}
.tab {
  background: #212CFF;
  color: white;
  border: double;
  border-color: white;
  position: relative;
  float: left;
  width: 45%;
  //max-height: 300px;
  overflow: hidden;
  box-sizing: border-box;
}
.selected {
  color: black;
  background: #3FD3CE;
}
table {
  //border-width: 0 0 2px 2px;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  td {
    border-color: white;
    border-style: solid;
    color: inherit;
    height: 20px;
  }
  td:first-child {
    width: 30%;
  }
}


td {
  margin: 0;
  padding: 4px;
  border-width: 0px 2px 0 0;
  //background-color: #FFC;
}

.blink {
  -moz-animation-duration: 800ms;
  -moz-animation-name: blink;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;

  -webkit-animation-duration: 800ms;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  animation-duration: 800ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-moz-keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.blink1 {
  animation-duration: 1000ms;
  animation-name: tgle;
  animation-iteration-count: infinite;
}

@keyframes tgle {
  0% {
    opacity: 0;
  }

  49.99% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  99.99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}